#root {
    margin: 0 auto;
    text-align: center;
}

.prompt-container,
form {
    display: flex;
    flex-direction: column;
}

.prompt-container,
footer {
    max-width: 568px;
}

.clear-icon {
    cursor: pointer;
}
